.editor {
	display: flex;
	flex-flow: row;
	justify-content:center;
	margin: auto;
}
.heading {
	text-align: center;
}

.ace-monokai .ace_non-alphabets {
	color: #ffdf00;
}

.ace-github .ace_non-alphabets {
	color: #df5000;
}
